@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

/* ==================== Top Wrap (Logo,search-bar,icons) ====================*/

#blue-strip{
    height: 35px;
    width: 100%;
    background-color: rgb(240, 240, 250);
}
.wrap{
    display: flex;
    height: 80px;
    align-items: center;
    /* background-color: greenyellow;  */
}
.burger{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 27px;
    width: 25%;
}
.burger div{
    height: 2px;
    width: 20px;
    background-color: gray;
    display: none;
}
.logo{
    width: 50%;
    text-align: center;
}
.logo img{
    height: 35px;
    margin: auto;
}
.end_nav_icons{
    display: flex;
    width: 25%;
    justify-content: space-around;
    margin-top: -10px;
}
.search-bar{
    height: 30px;
    background-color: rgb(241, 241, 241); 
}
.search-bar input{
    height: 100%;
    padding: 0 0 0 10px;
}

.search-bar button{
    position: absolute;
    margin-left:-2%;
    margin-top: 5px;
    background-color: transparent;
    border: none;
}
.search-bar button img{
    height: 25px;
}
 .end_nav_icons img{
    height: 35px;
}

/* ============================ Nav (Nav-links) =============================*/

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    border-bottom: 1px solid rgb(206, 205, 205);
    padding:0 50px 0 50px;
}
.nav-links li{
   list-style: none;
   font-size: 13px;
   font-family: 'Roboto Condensed', sans-serif;
}
