#top-cont {
    display: flex;
    width: 100%;
    height: 1000px;
    /* border: 2px solid red; */
}

#top-cont>div {
    /* margin: 20px; */
    width: 20%;
    /* border: 2px solid black; */
}

#top-cont>div:nth-of-type(2) {
    flex-grow: 3;
}

#right-cont>div {
    width: 100%;
    height: 330px;
    /* border: 1px solid blue */
}

#category-cont {
    display: flex;
}

#category-cont>div {
    width: 25%;
    height: auto;
    /* border: 1px solid gray; */
}

#category-cont  button {
    border: 2px solid black;
    background-color: white;
    color: grey;
    margin-left: 60px;
    height: 30px;
    width: 150px;
}

#text-cont {
    width: 50%;
    margin: auto;
    color: gray;
}

#left-cont>div {
    width: 100%;
    min-height: 50px;
    /* border: 1px solid cyan */
}

#left-cont a {
    text-decoration: none;
    color: gray;
    font-size: 15px;
}

#left-cont a:hover {
    color: blue;
}

#category-cont  button:hover {
    background-color: rgb(29, 26, 26);
    color: white;
}

#title {
    font-size: 25px;
    color: gray;
}

#p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

P span {
    background: #fff;
    padding: 0 10px;
}

/* candle page */


#candle-left a {
    text-decoration: none;
    color: gray;
    font-size: 15px;
}

#candle-left a:hover {
    color: blue;
}
#candle-cont{
    display: flex;
}

#candle-cont>div {
    /* margin: 20px; */
    /* display: flex; */
    width: 20%;
    /* border: 2px solid black; */
}

#candle-cont>div:nth-of-type(2) {
    flex-grow: 3;
    /* display: flex; */
  
}

#right-cont>div {
    
    width: 100%;
    height: 360px;
    /* border: 1px solid blue; */
   
}
#candlediv{
    width: 23%;
    height: 500px;
    float: left;
    text-align: center;
    margin: 10px;
    

}
#candlediv img{
    width: 100%;
    height: 250px;
}
#candlediv button{
    border: 2px solid black;
    background-color: rgb(29, 26, 26);
    color: grey;
    width: 200px;
    height: 40px;

}
#candlediv > button:hover{
    background-color: white;
    color: #333333
}
.blue{
    color: blue;
    font-weight:bolder;
}
.price,.name{
    color: #333333;
    font-size: 16px;
    font-weight: bolder;
 
  
}
.grey{
    color: #666666;
}
.blue, .name, .price, .grey{
    line-height:5px;
}










/* footer */
footer{
    border-top: 2px solid rgb(233, 230, 230);
}
.footer-links{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-left: 120px;
    padding-top:30px;
}
.col-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}
.col-2 ul,.col-3 ul,.col-4 ul,.col-5 ul{
   line-height: 2;
}
.col li{
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}
.col p{
    font-family: sans-serif;
    font-size: 14px;
}
.footer-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 2;
}
.footer-form input{
    height: 32px;
    width: 200px;
    border:1px solid rgb(212, 205, 205);
}
.footer-form .email{
    display: flex;
}
.footer-form button{
    float: left;
    width: 80px;
    /* height: 20px; */
    padding: 10px;
    background-color: rgb(29, 28, 28);
    color: white;
    border: none;
}
.social-media{
    line-height: 2;
}
.social-media-icon{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.social-media-icon li{
   list-style: none;
}
.footer-img{
    position: absolute;
    right: 0;
    margin-top:-100px;
    padding-right: 130px;
    padding-top: 20px;
}
.footer-img img{
    height: 80px;
}
.end{
    background-color: rgb(233, 229, 229);
    padding: 30px;
    line-height: 2;
    margin-top: 30px;
}
.end ul{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    font-size: 12px;
    height: 30px;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.end ul li{
    list-style: none;
    border-right: 1px solid grey;
    padding: 0 5px 0 5px;
}
#copy{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.help-btn{
    width: 100%;
    background-color: rgb(233, 229, 229);
    padding: 20px 0 20px 0;
    font-family: sans-serif;
    display: none;
}
/*Responsive TO mobile*/
@media only screen and (max-width: 600px) {
    .footer-links{
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        padding-top:20px;
    }
    .footer-form input{
        width: 100%;
    }
    .col-2 ,.col-3 ,.col-4 ,.col-5 {
       padding: 10px;
       /* background-color: hotpink; */
     }
    
     .footer-img{
        position: relative;
        right: 0;
        margin-top:20px;
        padding-right:0px;
        padding-top: 0px;
    }
    .end ul{
        display: block;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .end{
        padding: 0px;
        margin-top: 30px;
        height: 100%;
    }
    #copy{
        text-align: left;
    }
    .col-2,.col-3 ,.col-4 ,.col-5 {
        line-height: 2;
        display: none;
     }
     .open-end-nav{
         display: block;
     }
     .help-btn{
        display: block;
    }
}


